Загрузка датасета

In [1]:
Dataset<-read.csv("https://raw.githubusercontent.com/junaart/ForStudents/master/KIS/Lab_1/Computers.csv",sep=",")
head(Dataset)

  X price speed hd  ram screen cd multi premium ads trend
1 1 1499  25     80  4  14     no no    yes     94  1
2 2 1795  33     85  2  14     no no    yes     94  1
3 3 1595  25    170  4  15     no no    yes     94  1
4 4 1849  25    170  8  14     no no    no      94  1
5 5 3295  33    340 16  14     no no    yes     94  1
6 6 3695  66    340 16  14     no no    yes     94  1

Каждый компьютер - это $W_i$ \in $W$, где $W = Dataset$ - множество решений.
$price, speed, hd, ram$ - основные конструктивные параметры $P_1$, $P_2$, $P_3$, $P_4$.

Количество станций каждого сегмента для 8 варианта:
$$5   \leq C1 \leq  9$$
$$20  \leq C2 \leq  32$$
$$3   \leq C3 \leq  18$$
$$5   \leq C4 \leq  14$$

In [2]:
# Ограничения на число Ci слева
CL <- c(5, 20, 3,  5)
# Ограничения на число Ci справа
CR <- c(9, 32, 18, 14)

Регрессионный анализ — набор статистических методов исследования влияния одной или нескольких независимых переменных $x_1, ..., x_n$ на зависимую переменную y. Независимые переменные иначе называют регрессорами или предикторами, а зависимые переменные — критериальными или регрессантами. Терминология зависимых и независимых переменных отражает лишь математическую зависимость переменных (корелляцию), а не причинно-следственные отношения.

In [3]:
# lm() используется для подбора модели линейной регрессии.
lin_model <- lm(price~speed+ram+hd, Dataset)
lin_model

Call:
lm(formula = price ~ speed + ram + hd, data = Dataset)

Coefficients:
(Intercept)        speed          ram           hd
  1492.1775       5.8112      78.2357      -0.5357

Функция $predict()$ используется для прогнозирования значений на основе входных данных.

In [4]:
g <- predict(lin_model, Dataset)
head(data.frame(Dataset$price, g))

  Dataset.price g
1 1499          1907.542
2 1795          1794.882
3 1595          1859.328
4 1849          2172.271
5 3295          2753.573
6 3695          2945.343

Построить двухуровневую задачу проектирования КИС. На верхнем уровне оптимизируется стоимость всей системы в целом. На нижнем уровне по сегментам оптимизируется: 
- суммарная производительность ($speed, ram$) всего серверного оборудования,
- суммарный объем долговременной и оперативной памяти ($hd, ram$).

При необходимости провести нормализацию конструктивных параметров. Остальные критерии оптимизации, коэффициенты важности выбрать самостоятельно. На исходном датафрейме выбрать варианты, удовлетворяющие условиям работоспособности, на полученном множестве выбрать Парето-оптимальные решения, из множества эффективных по Парето решений подобрать варианты, которые наиболее близки к решениям задачи оптимизации. Сделать окончательные выводы $(i = 1..4)$.
Сегмент $C_i$: количество компьютеров: $n_{ci}$, номер компьютера: $ID_{ci}$
На верхнем уровне мы предъявляем требования к целевым свойствам систем(общесистемным параметрам): производительности, надежности и т.д. На нижнем уровне требования предъявляются к конструктивным параметрам.

Верхний уровень:

Самостоятельно сформулировать ограничения (максимальные или минимальные) на общую стоимость развертывания всей технической инфраструктуры КИС,возможные ограничения на суммарную стоимость отдельных типов станций ($C_1$, $C_2$, $C_3$, $C_4$), нижние ограничения на частоту процессора для станций, другие приемлемые ограничения. Критерии уровней - это общие критерии, они характеризуются направленностью (минимизация/максимализация), частные критерии характеризуют отношение величин к конкретной величине, критерии могут характеризоваться направленностью или отношением к величине.

Критерий верхнего уровня:
$$H_1 = N_1 * price_1 + ... + N_4 * price_4 → min$$
$$H_1 = sum(N_i * (1492.1775 + 5.8112 * speed_i + 78.2357 * ram_i - 0.5357 * hd_i))$$
$$H_1 = $$
$$1492.1775 * N_1 + 5.8112 * N_1 * speed_1 + 78.2357 * N_1 * ram_1 - 0.5357 * N_1 * hd_1 + $$
$$1492.1775 * N_2 + 5.8112 * N_2 * speed_1 + 78.2357 * N_2 * ram_1 - 0.5357 * N_2 * hd_1 + $$
$$1492.1775 * N_3 + 5.8112 * N_3 * speed_1 + 78.2357 * N_3 * ram_1 - 0.5357 * N_3 * hd_1 + $$
$$1492.1775 * N_4 + 5.8112 * N_4 * speed_1 + 78.2357 * N_4 * ram_1 - 0.5357 * N_4 * hd_1$$

$i$ - номер сегмента (1, 2, 3, 4)
$$x_{i1} = 1492.1775 * N_i$$
$$x_{i2} = speed_i * N_i$$
$$x_{i3} = ram_i * N_i$$
$$x_{i4} = hd_i * N_i$$

$$price_i = 1492.1775 + 5.8112 * speed_i + 78.2357 * ram_i - 0.5357 * hd_i$$
$$price_i * N_i = x_{i1} + 5.8112 * x_{i2} + 78.2357 * x_{i3} - 0.5357 * x_{i4}$$

In [5]:
# Для нахождения ограничений на xi2, xi3, xi4 можно взять усредненные характеристики:
mean(Dataset$speed) 
mean(Dataset$ram)  
mean(Dataset$hd)

[1] 52.01102

[1] 8.286947

[1] 416.6017

Тогда: ограничения на $x_{ij}$
$$C_{i\ min} * 1492.1775  \leq x_{i1} \leq C_{i\ max} * 1492.1775$$
  $$C_{i\ min} * 52.011     \leq x_{i2} \leq C_{i\ max} * 52.011$$
  $$C_{i\ min} * 8.287      \leq x_{i3} \leq C_{i\ max} * 8.287$$
  $$C_{i\ min} * 416.602    \leq x_{i4} \leq C_{i\ max} * 416.602$$

In [6]:
# Restrictions left
XRL <- matrix(nrow = 4, ncol = 4)
# Restrictions right
XRR <- matrix(nrow = 4, ncol = 4)
for (i in c(1:4)) {
  XRL[i,1]=1492.1775 * CL[i]
  XRL[i,2]=52.011    * CL[i]
  XRL[i,3]=8.287     * CL[i]
  XRL[i,4]=416.602   * CL[i]
  
  XRR[i,1]=1492.1775 * CR[i]
  XRR[i,2]=52.011    * CR[i]
  XRR[i,3]=8.287     * CR[i]
  XRR[i,4]=416.602   * CR[i]
}

Ограничения нижнего уровня:
  - Cуммарная стоимость компьютеров сегмента $C_1$ должна быть не более 15000 у.е.
    
  $$N_1 * price \leq 15000$$
  $$x_{11} + 5.8112 * x_{12} + 78.2357 * x_{13} - 0.5357 * x_{14} \leq 15000$$

  - Cуммарная производительность $C_1$ и $C_2$ не менее 2000

  $$N_1 * speed_1 + N_2 * speed_2 \geq 2000$$
   $$x_{12} + x_{22} \geq 2000$$

  - Суммарный объем жесткого диска сегментов $C_3$ и $C_4$ не менее 4000

  $$N_3 * hd_3 + N_4 * hd_4 \geq 4000$$
  $$x_{34} + x_{44} \geq 4000$$

  -Cуммарный объем оперативной памяти $C_3$ и $C_4$ не менее 200
  
  $$N_3 * ram_3 + N_4 * ram_4 \geq 200$$
   $$x_{33} + x_{43} \geq 200$$

Частные критерии оптимизации на нижнем уровне:
  - Cуммарная производительность $(speed, ram)$ в сегменте $C_1$ максимизируется:

  $$ W_1 = 0.7 * N_1 * speed_1 + 0.3 * N_1 * ram_1 → max$$
  $$W_1 = 0.7 * x_{12} + 0.3 * x_{13} → max$$

  - Суммарный объем памяти $(ram, hd)$ в сегменте $C_3$ максимизируется:

  $$W_2 = 0.3 * N_3 * ram_3 + 0.8 * N_3 * ram_3 → max$$
  $$W_2 = 0.3 * x_{33} + 0.8 * x_{34} → max$$

  - Cуммарная производительность $C_1$ и $C_2$ максимизируется:

  $$W_3 = 0.9 * N_1 * speed_1 + 0.9 * N_1 * ram_1 + 0.4 * N_2 * speed_2 + 0.4 * N_2 * ram_2 → max$$
  $$W_3 = 0.9 * x_{12} + 0.9 * x_{13} + 0.4 * x_{22} + 0.4 * x_{23} → max$$

Критерий нижнего уровня: 
  $$H_2 = W_1 + 0.8 * W_2 + W_3 → max$$

Критерий верхнего уровня: 
$$H_1 =$$ 
$$ x_{11} + 5.8112 * x_{12} + 78.2357 * x_{13} - 0.5357 * x_{14} + $$
$$x_{21} + 5.8112 * x_{22} + 78.2357 * x_{23} - 0.5357 * x_{24} + $$
$$x_{31} + 5.8112 * x_{32} + 78.2357 * x_{33} - 0.5357 * x_{34} +$$ 
$$x_{41} + 5.8112 * x_{42} + 78.2357 * x_{43} - 0.5357 * x_{44}$$

In [7]:
H1<-function(
    x11,x12,x13,x14, 
    x21,x22,x23,x24, 
    x31,x32,x33,x34, 
    x41,x42,x43,x44
) {
  return(
         x11 + 5.8112 * x12 + 78.2357 * x13 - 0.5357 * x14 + 
         x21 + 5.8112 * x22 + 78.2357 * x23 - 0.5357 * x24 + 
         x31 + 5.8112 * x32 + 78.2357 * x33 - 0.5357 * x34 + 
         x41 + 5.8112 * x42 + 78.2357 * x43 - 0.5357 * x44
  )
}

Критерий нижнего уровня: 
$$ H_2 = W_1 + 0.8 * W_2 + W_3 → max$$
$$H_2 = 0.7 * x_{12} + 0.3 * x_{13} + 0.8 * (0.3 * x_{33} + 0.8 * x_{34}) + 0.9 * x_{12} + 0.9 * x_{13} + 0.4 * x_{22} + 0.4 * x_{23} → max$$
$$H_2 = 0.7*x_{12} + 0.3*x_{13} + 0.24*x_{33} + 0.64*x_{34} + 0.9*x_{12} + 0.9*x_{13} + 0.4*x_{22} + 0.4*x_{23} → max$$
$$H2 = 1.6*x_{12} + 1.2*x_{13} + 0.4*x_{22} + 0.4*x_{23} + 0.24*x_{33} + 0.64*x_{34} → max$$

In [8]:
H2<-function(
    x12,x13,x22,x23,x33,x34
) {
  return(1.6*x12 + 1.2*x13 + 0.4*x22 + 0.4*x23 + 0.24*x33 + 0.64*x34)
}

Как решать:

Имеем две задачи:

Минимизировать выражение $H_1$ с учетом ограничений на $x_{ij}$ и $H_2 \geq H_2(mean(DATA))$

Максимизировать выражение $H_2$ с учетом ограничений на $x_{ij}$ и $H_1 \leq H_1(mean(DATA))$

Выберем критерий для максимизации, остальные критерии положим в ограничения, 
задав их значения не менее (для максимизируемых) или не более (для минимизируемых) средних на выборке.

Эти задачи решаются с помощью библиотеки lpSolve (linear programming solve), 
предназначенной для решения задач линейного программирования.

Линейное программирование посвящено решению экстремальных задач на множествах 
n-мерного векторного пространства, задаваемых системами линейных уравнений и неравенств.

Для решения ЛР в этой библиотеке используется фукнция lp (https://www.rdocumentation.org/packages/lpSolve/versions/5.6.13/topics/lp)
Выражения делятся на object (объект оптимизации, в случае ЛР - $H_1/H_2$) и subject (ограничения, в случае ЛР - ограничения на $x_{ij}$).

In [9]:
install.packages("lpSolve")
library(lpSolve)
# Решаем H1 при условиях H2 -> max и ограничениях на xij

#Вычислим meanH2
##################################
TempDataset <-data.frame(
  Dataset, H2(Dataset$speed, Dataset$ram, Dataset$speed, Dataset$ram, Dataset$ram, Dataset$hd)
)
colnames(TempDataset)<-c("","price","speed","hd","ram","screen","cd", "multi", "premium", "ads","trend","H2")
meanH2<-mean(TempDataset$H2)
##################################

# Numeric vector of coefficients of objective function
objective.in<-c(1, 5.8112, 78.2357, -0.5357, 1, 5.8112, 78.2357, -0.5357, 1,5.8112, 78.2357, -0.5357, 1, 5.8112, 78.2357, -0.5357)

# Matrix of numeric constraint coefficients, one row per constraint, one column per variable.
const.mat<-matrix(c(
# x11 x12 x13 x14 x21 x22 x23 x24 x31 x32 x33 x34 x41 x42 x43 x44
  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 
  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 
  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 
  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 
  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,
  # Ограничения нижнего уровня
  1,  5.8112,  78.2357,  -0.5357,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, # x11 + 5.8112 * x12 + 78.2357 * x13 - 0.5357 * x14 \leq 15000
  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, # x12 + x22 \geq 2000
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1, # x34 + x44 \geq 4000
  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0, # x33 + x43 \geq 200
  # Критерий нижнего уровня: H2 = 1.6*x12 + 1.2*x13 + 0.4*x22 + 0.4*x23 + 0.24*x33 + 0.64*x34 -> max
  0,    1.6,  1.2,  0,   0,  0.4,  0.4,   0,   0,    0,  0.24, 0.64,  0,   0,   0,   0
# x11   x12   x13  x14  x21  x22   x23   x24  x31   x32   x33   x34   x41  x42  x43  x44
), nrow=32+4+1, byrow=TRUE)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [11]:
# Vector of character strings giving the direction of the constraint: each value should be one of "<," "\leq," "=," "==," ">," or "\geq". 
# (In each pair the two values are identical.)
# каждый знак неравенства соответствует строке матрицы
const.dir<-c(
  # Ограничения на xij
  "\geq","\leq","\geq","\leq","\geq","\leq","\geq","\leq",
  "\geq","\leq","\geq","\leq","\geq","\leq","\geq","\leq",
  "\geq","\leq","\geq","\leq","\geq","\leq","\geq","\leq",
  "\geq","\leq","\geq","\leq","\geq","\leq","\geq","\leq",
  # Ограничения нижнего уровня
  "\leq",
  "\geq",
  "\geq",
  "\geq",
  # H2
  "\geq"
)

const.rhs<-c(
  XRL[1,1],XRR[1,1],XRL[1,2],XRR[1,2],XRL[1,3],XRR[1,3],XRL[1,4],XRR[1,4],
  XRL[2,1],XRR[2,1],XRL[2,2],XRR[2,2],XRL[2,3],XRR[2,3],XRL[2,4],XRR[2,4],
  XRL[3,1],XRR[3,1],XRL[3,2],XRR[3,2],XRL[3,3],XRR[3,3],XRL[3,4],XRR[3,4],
  XRL[4,1],XRR[4,1],XRL[4,2],XRR[4,2],XRL[4,3],XRR[4,3],XRL[4,4],XRR[4,4],
  # Ограничения нижнего уровня
  15000,
  2000,
  4000,
  200,
  # H2
  meanH2
)

In [12]:
# Решение
Res<-lp("min", objective.in, const.mat, const.dir, const.rhs)
# Результат
Res$solution

 [1]  7460.887   335.648    41.435  3749.418 29843.550  1664.352   165.740
 [8] 13331.264  4476.533   156.033   149.166  7498.836  7460.887   260.055
[15]    50.834  5832.428

In [13]:
H1_vec<-function(v) {
  return(sum(v*c(
        1,5.8112,78.2357,0.5357,
        1,5.8112,78.2357,0.5357,
        1,5.8112,78.2357,0.5357,
        1,5.8112,78.2357,0.5357
    )))
}

H2_vec<-function(v) {
  return(sum(v*c(
    0,1.6,1.2,0,
    0,0.4,0.4,0,
    0,0,0.24,0.64,
    0,0,0,0
  )))
}

H1_vec(Res$solution)
H2_vec(Res$solution)

[1] 111429.5

[1] 6153.85

In [14]:
optimum<-c(
  # поменял порядок, поскольку он именно такой в датасете
  #total_price   #total_speed   #total_hd    #total_ram
  7460.887,      335.648,       3749.418,    41.435,
  29843.550,     1664.352,      13331.264,   165.740,
  4476.533,      156.033,       7498.836,    149.166,
  7460.887,      260.055,       5832.428,    50.834
)

lmPrice <- 1492.1775
# N<-c(ceiling(optimum[1]/lmPrice), ceiling(optimum[5]/lmPrice), ceiling(optimum[9]/lmPrice), ceiling(optimum[13]/lmPrice))
N<-c(     optimum[1]/lmPrice, optimum[5]/lmPrice, optimum[9]/lmPrice,  optimum[13]/lmPrice )
Speed<-c( optimum[2]/N[1],    optimum[6]/N[2],    optimum[10]/N[3],    optimum[14]/N[4] )
Hd<-c(    optimum[3]/N[1],    optimum[7]/N[2],    optimum[11]/N[3],    optimum[15]/N[4] )
Ram<-c(   optimum[4]/N[1],    optimum[8]/N[2],    optimum[12]/N[3],    optimum[16]/N[4] )
# Идеальные точки для каждого из сегментов
ideal_1 = c(Speed[1], Hd[1], Ram[1])
ideal_2 = c(Speed[2], Hd[2], Ram[2])
ideal_3 = c(Speed[3], Hd[3], Ram[3])
ideal_4 = c(Speed[4], Hd[4], Ram[4])

Утилиты

In [15]:
distance<-function(A, B){
  return(sqrt(sum((A-B)^2)))
}

In [16]:
# Приведение конструктивных показатей к однонаправленной шкале [0,100], 
# направление улучшения - возрастание показателя.
NormalizeDataset <- function(dataset) {
  # определение максимального значения из столбца
  # Vmax<-max(frame$field_i); 
  # определение минимального значения из столбца
  # Vmin<-min(frame$field_i);
  # Чем больше значение, тем лучше
  # v <- N * (v - Vmin) / (Vmax - Vmin)
  # Чем меньше значение, тем лучше
  # v <- N * (Vmax - v) / (Vmax - Vmin)
  
  N <- 100
  newDataset <- dataset
  # цена; чем ниже, тем лучше
  maxVal <- max(dataset$price);
  minVal <- min(dataset$price);
  newDataset$price <- N * (maxVal - dataset$price) / (maxVal - minVal)
  # скорость; чем выше, тем лучше
  maxVal <- max(dataset$speed);
  minVal <- min(dataset$speed);
  newDataset$speed <- N * (dataset$speed - minVal) / (maxVal - minVal)
  # объем жесткого диска; чем больше, тем лучше
  maxVal <- max(dataset$hd);
  minVal <- min(dataset$hd);
  newDataset$hd <- N * (dataset$hd - minVal) / (maxVal - minVal)
  # объем оперативной памяти; чем больше, тем лучше
  maxVal <- max(dataset$ram);
  minVal <- min(dataset$ram);
  newDataset$ram <- N * (dataset$ram - minVal) / (maxVal - minVal)
  
  return(newDataset)
}

In [17]:
# Приведение конструктивных показатей к однонаправленной шкале [0,100], 
# направление улучшения - возрастание показателя.
NormalizedIdeal <- function(dataset, ideal) {
  N <- 100
  # скорость; чем выше, тем лучше
  maxVal <- max(dataset$speed);
  minVal <- min(dataset$speed);
  nSpeed <- N * (ideal[1] - minVal) / (maxVal - minVal)
  # объем жесткого диска; чем больше, тем лучше
  maxVal <- max(dataset$hd);
  minVal <- min(dataset$hd);
  nHd <- N * (ideal[2] - minVal) / (maxVal - minVal)
  # объем оперативной памяти; чем больше, тем лучше
  maxVal <- max(dataset$ram);
  minVal <- min(dataset$ram);
  nRam <- N * (ideal[3] - minVal) / (maxVal - minVal)
  return(c(nSpeed, nHd, nRam))
}

In [18]:
# Проверка доминирования по Парето X над Y
DominatesOver<-function(X, Y) {
  # у X есть хотя-бы один параметр, который лучше, чем у Y.
  hasAdvantage <- FALSE;
  # Пришлось закостылить, т.к. учитываем только 2-5 столбцы
  for (i in 2:5) {
    if (X[i] > Y[i]) {
      hasAdvantage <- TRUE
    } else if (X[i] < Y[i]) {
      return(FALSE)
    }
  }
  if (hasAdvantage) {
    return(TRUE)
  }
  return(FALSE)
}

Отобор вариантов, удовлетворяющих условиям работоспособности.

In [19]:
FilteredDataset<-data.frame()
nrow(Dataset)
for (i in c(1:length(rownames(Dataset))))
{
  if (Dataset[i, "screen"] \geq 15 & Dataset[i, "multi"] == "yes") {
    FilteredDataset<-rbind(FilteredDataset, Dataset[i,])
  }
}
nrow(FilteredDataset)

# приведение к одной шкале
nDataset <- NormalizeDataset(FilteredDataset)

# определение парето-оптимальных вариантов
pOptVaiantsIDs<-c()
for (i in c(1:length(rownames(nDataset))) ) {
  isParetoOptiomal<-TRUE
  for (j in c(1:length(rownames(nDataset)))) {
    if (DominatesOver(nDataset[j,], nDataset[i,])) {
      isParetoOptiomal<-FALSE # если над i-м вариантом доминирует какой-либо j-й, то i-й точно не оптимален по Парето.
    }
  }
  if (isParetoOptiomal) {
    pOptVaiantsIDs<-c(pOptVaiantsIDs, rownames(nDataset)[i])
  }
}
pOptVaiantsIDs

[1] 6259

[1] 388

 [1] "5300" "5619" "5758" "5796" "5815" "5822" "5827" "5830" "5881" "5882"
[11] "5930" "5961" "6149" "6158" "6168" "6186" "6205" "6227" "6243"

In [20]:
# выбрать наиболее близкую к идеалу альтернативу
getClosestOption<-function(nIdeal, optVariantsIDs){
  minDist <- .Machine$integer.max
  closestOptionID<-1
  for (i in optVariantsIDs){
    tempDist <- distance(nIdeal, nDataset[i, (3:5)])
    if (tempDist < minDist) {
      minDist <- tempDist
      closestOptionID = i
    }
  }
  return(closestOptionID)
}

In [21]:
# Нормализованные идеальные точки для каждого из сегментов
nIdeal_1 = NormalizedIdeal(Dataset, ideal_1)
nIdeal_2 = NormalizedIdeal(Dataset, ideal_2)
nIdeal_3 = NormalizedIdeal(Dataset, ideal_3)
nIdeal_4 = NormalizedIdeal(Dataset, ideal_4)

In [22]:
# лучшие варианты для каждого из сегментов
closestOptionsIDs <- c(
  getClosestOption(nIdeal_1, pOptVaiantsIDs),
  getClosestOption(nIdeal_2, pOptVaiantsIDs),
  getClosestOption(nIdeal_3, pOptVaiantsIDs),
  getClosestOption(nIdeal_4, pOptVaiantsIDs)
)

pOptVaiantsIDs

 [1] "5300" "5619" "5758" "5796" "5815" "5822" "5827" "5830" "5881" "5882"
[11] "5930" "5961" "6149" "6158" "6168" "6186" "6205" "6227" "6243"

In [23]:
# результаты
FilteredDataset[closestOptionsIDs[1], ]
FilteredDataset[closestOptionsIDs[2], ]
FilteredDataset[closestOptionsIDs[3], ]
FilteredDataset[closestOptionsIDs[4], ]

     X    price speed hd  ram screen cd  multi premium ads trend
5796 5796 1840  75    730 8   15     yes yes   yes     132 28

     X    price speed hd  ram screen cd  multi premium ads trend
5796 5796 1840  75    730 8   15     yes yes   yes     132 28

     X    price speed hd   ram screen cd  multi premium ads trend
6186 6186 3123  75    1600 32  15     yes yes   yes     39  34

     X    price speed hd   ram screen cd  multi premium ads trend
5300 5300 2075  66    1080 8   15     yes yes   yes     158 25